#form {
    grid-area: formu;
    color: $color-primario;
    background: $color-terciario;
    padding: 1rem;
    border-radius: $border-radius;
    width: 100%;
    margin-bottom: 0.5rem;
    align-self: stretch;

    &form-control::placeholder {
        font-size: smaller;
        color: lightslategray;
    }

    &botones {
        justify-self: center;
    }
}

.mapa {
    grid-area: mapa;
    border-radius: $border-radius;
}