.videolong, .videolong-2 {
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.5);
}

.videolong {
    grid-area: vidlong;
}

.videolong-2 {
    grid-area: vidlong2;
}