.infosecundaria{
    grid-area: faq;
    background-color: #3D5A80F2;
    text-align: justify;
    color: #FAF3E0; 
    align-self: stretch;
    margin-top: 0 auto;
    margin-bottom: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    border-radius: 1rem;
}

.infosecundaria h4{
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #FAF3E0;
    margin-bottom: 1rem;
}

.infosecundaria h6 {
    font-size: 1.1rem;
    color: #FAF3E0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.infosecundaria h6:hover {
    color: #D84315;
}

.infosecundaria p {
    margin-bottom: 1.2rem;
}
