.infosecundaria {
    grid-area: faq;
    background-color: $color-quinario;
    color: $color-primario;
    text-align: justify;
    align-self: stretch;
    margin-top: 0 auto;
    margin-bottom: 0.5rem;
    box-shadow: $box-shadow;
    padding: 1.5rem;
    border-radius: $border-radius;

    h4 {
        text-align: center;
        border-bottom: 2px solid $color-primario;
    }

    h6 {
        font-size: 1.1rem;
        color: $color-primario;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: $color-cuaternario;
        }
    }

    p {
        margin-bottom: 1.2rem;
    }
}

.dropdown-menu,
.dropdown-item {
    background-color: $color-cuaternario;
    color: $color-primario;
    font-family: "Lato";
    box-shadow: $box-shadow;
}

.card {
    grid-area: target;
    padding: 1rem;
    margin-top: 0.5rem;
    max-width: 100%;
    color: $color-primario;
    background-color: $color-senario;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    text-align: center;

    p {
        text-align: justify;
    }

    img {
        max-height: 10rem;
        margin-bottom: 1rem;
    }
}