.asideaccion {
    grid-area: aside;
    align-self: start;
    position: sticky;
    top: 8rem;
    width: 100%;
    padding: 1.5rem;
    background: linear-gradient(135deg, #1f4b32e6 20%, #2a7a50e6 50%, #5abf8ae6 80%);
    color: $color-primario;
    border-radius: $border-radius;
    text-align: center;
    z-index: 1000;
    margin-top: 0 auto;
    box-shadow: $box-shadow;

    & .icons {
        margin-top: 0.9rem;
    }

    & .icons a {
        margin: 0 8px;
        font-size: 1.5em;
    }
}