#footer {
    display: grid;
    @include grid-layout (auto, 1fr 2fr 1fr, "logtit navfoot rrss" "logtit derechos rrss");
    background: linear-gradient(180deg, #9b837b, #8a736d, #76665b, #5f5754, #3e3c3a);
    width: 100%;
    z-index: 10;
    position: relative;
}

.logoTituloFooter {
    grid-area: logtit;
    @include flex-wrap;
    color: $color-primario;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-around;

    & img {
        width: 3rem;
        margin: 1rem;
    }

    & .tituloFooter {
        @include flex-wrap;
    }
}

.navBarFooter {
    grid-area: navfoot;
    align-self: center;
}

.derechosFooter {
    grid-area: derechos;
    @include flex-wrap;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: $color-primario;
}

.rrssFooter {
    grid-area: rrss;
    @include flex-wrap;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}