/*Cuerpo*/
%main {
    display: grid;
    align-items: start;
    gap: 2rem;
    margin: 0 auto;
    padding: 8rem 1rem 2rem 1rem;
    max-width: 100%;
    min-height: 100vh;
    background-image: url(../images/bgsl.gif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#main__index {
    @extend %main;
    @include grid-layout (auto, repeat(3, 1.5fr) 1fr, "main__index__sloganswc main__index__sloganswc mapaswc aside"
        "vidshort fotoportada mapaswc aside"
        "vidshort testimon mapaswc aside");
}

#main__servicios {
    @extend %main;
    @include grid-layout (auto, repeat(4, 1fr), "title title title title"
        "target target target target"
        "faq faq aside aside");

    &.asideaccion {
        z-index: 0;
        margin-bottom: 1rem;
    }

    &.card img {
        width: 10rem;
    }
}

#main__portafolio {
    @extend %main;
    @include grid-layout (auto, 4fr 1fr, "title aside" "contenedorportafolio aside");
}

#main__nosotros {
    @extend %main;
    @include grid-layout (auto, 2fr 1.5fr 1fr, "title title aside"
        "article vidlong aside"
        "article vidlong2 aside"
        "subtitle subtitle aside"
        "cardGroup cardGroup aside");

    &.card img {
        max-height: 10rem;
        margin-bottom: 1rem;
    }
}

#main__contacto {
    @extend %main;
    @include grid-layout (auto, 3fr 5fr 3fr, "title title title"
        "article article formu"
        "mapa faq formu");
}

#main__404 {
    @extend %main;
    @include grid-layout (auto, auto, "title" "subtitle");
}