@media screen and (max-width: 576px) {
    main {
        background-size: contain;
    }

    #main__index {
        @include grid-layout (auto, 1fr, "main__index__sloganswc" "fotoportada" "vidshort" "mapaswc" "testimon"
            "aside");
        @include center-padding10;
    }

    .nav-item {
        justify-content: center;
    }

    .main__index__mapaleaflet {
        height: 60vh;
    }

    .main__index__videoshort {
        height: 37vh;
    }


    #main__servicios {
        @include grid-layout (auto, 1fr, "title" "target" "target" "target" "target" "faq" "aside");
        @include center-padding10;
    }

    #main__portafolio {
        @include grid-layout (auto, 100vw, "title" "contenedorportafolio" "aside");
        @include center-padding10;
    }

    #main__nosotros {
        @include grid-layout (auto, 1fr, "title" "article" "subtitle" "cardGroup" "vidlong" "vidlong2" "aside");
        @include center-padding10;
    }

    .main__nosotros__videolong,
    .main__nosotros__videolong__2 {
        width: 100%;
    }


    #main__contacto {
        @include grid-layout (auto, 1fr, "title" "formu" "article" "mapa" "faq");
        @include center-padding10;
    }

    #footer {
        @include grid-layout (auto, 2fr 1fr, "logtit navfoot"
            "rrss rrss"
            "derechos derechos");
        row-gap: 1rem;
        margin: 0 1rem 1rem 0;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) and (orientation: portrait) {
    main {
        background-size: contain;
    }

    #main__index {
        @include grid-layout (auto, 1fr, "main__index__sloganswc"
            "fotoportada"
            "vidshort"
            "mapaswc"
            "testimon"
            "aside");
        @include center-padding9;
    }

    .main__index__serviciosportada {
        width: 90%;
    }

    .main__index__videoshort {
        height: 47vh;
    }

    .main__index__mapaleaflet {
        height: 70vh;
        width: 70vw;
    }

    #main__servicios {
        @include grid-layout (auto, repeat(2, 1fr), "title title"
            "target target"
            "target target"
            "faq faq"
            "aside aside");
        @include center-padding9;
    }

    #main__portafolio {
        @include grid-layout (auto, 1fr, "title" "contenedorportafolio" "aside");
        @include center-padding9;
    }

    #main__nosotros {
        @include grid-layout (auto, 1fr, "title"
            "article"
            "subtitle"
            "cardGroup"
            "vidlong"
            "vidlong2"
            "aside");
        @include center-padding9;
    }

    .main__nosotros__videolong,
    .main__nosotros__videolong__2 {
        width: 90%;
        height: 21rem;
    }

    #main__contacto {
        @include grid-layout (auto, 1fr, "title title"
            "formu formu"
            "article article"
            "faq mapa");
        @include center-padding9;
    }

    #footer {
        @include grid-layout (auto, 2fr 1fr, "logtit navfoot"
            "rrss rrss"
            "derechos derechos");
        row-gap: 1rem;
        margin: 0 1rem 1rem 0;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape) {
    main {
        background-size: cover;
    }

    #main__index {
        @include grid-layout (auto, 1fr 1fr, "main__index__sloganswc main__index__sloganswc"
            "vidshort mapaswc"
            "fotoportada testimon"
            "aside aside");
        @include center-padding9;
    }

    .main__index__mapaleaflet {
        height: 65vh;
    }

    .main__index__videoshort {
        height: 65vh;
    }

    #main__servicios {
        @include grid-layout (auto, 1fr 1fr, "title title"
            "target target"
            "target target"
            "faq faq"
            "aside aside");
        @include center-padding9;
    }

    #main__portafolio {
        @include grid-layout (auto, 1fr, "title"
            "contenedorportafolio"
            "aside");
        @include center-padding9;
    }

    #main__nosotros {
        @include grid-layout (auto, 1fr 1fr, "title title"
            "article vidlong"
            "article vidlong2"
            "subtitle subtitle"
            "cardGroup cardGroup"
            "aside aside");
        @include center-padding9;
    }

    .main__nosotros__videolong,
    .main__nosotros__videolong__2 {
        width: 100%;
        height: 16rem;
    }

    #main__contacto {
        @include grid-layout (auto, 1fr 1fr, "title title"
            "formu article"
            "faq mapa");
        @include center-padding9;
    }

    #footer {
        @include grid-layout (auto, 2fr 1fr, "logtit navfoot"
            "rrss rrss"
            "derechos derechos");
        row-gap: 1rem;
        margin: 0 1rem 1rem 0;
    }

}

@media screen and (min-width: 993px) and (max-width: 1200px) {

    #main__index {

        @include grid-layout (auto, repeat(3, 1fr), "main__index__sloganswc main__index__sloganswc main__index__sloganswc"
            "vidshort fotoportada mapaswc"
            "vidshort testimon mapaswc"
            "aside aside aside");
        align-items: flex-end;
        justify-items: center;
        padding-top: 8.5rem;
    }

    .main__index__mapaleaflet {
        height: 51vh;
    }

    .main__index__videoshort {
        height: 51vh;
    }

    #main__servicios {
        @include grid-layout (auto, 1fr 1fr, "title title"
            "target target"
            "target target"
            "faq faq"
            "aside aside");
        @include center-padding9;
    }

    #main__portafolio {
        @include grid-layout (auto, 1fr, "title"
            "contenedorportafolio"
            "aside");
        @include center-padding9;
    }

    #main__nosotros {
        @include grid-layout (auto, 1fr 1fr, "title title"
            "article vidlong"
            "article vidlong2"
            "subtitle subtitle"
            "cardGroup cardGroup"
            "aside aside");
        @include center-padding9;
    }

    .main__nosotros__videolong,
    .main__nosotros__videolong__2 {
        width: 100%;
        height: 20rem;
    }

    #main__contacto {
        @include grid-layout (auto, 2fr 1fr, "title title"
            "formu article"
            "faq mapa");
        @include center-padding9;
    }

}

@media screen and (min-width: 1600px) {
    .tituloHeader {
        font-size: 3.5rem;
    }

    .logoTituloHeader img {
        width: 10.5rem;
    }

    .nav-item .nav-link {
        font-size: 2rem;
    }

    .asideaccion {
        top: 13rem;
    }

    .main__index__slogan {
        align-content: center;

    }

    #main__index {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "main__index__sloganswc mapaswc vidshort"
            "fotoportada mapaswc vidshort"
            "testimon mapaswc aside"
        ;
        justify-items: center;
        align-items: stretch;
        padding-top: 13rem;
    }

    .main__index__mapaleaflet {
        height: 80vh;
    }

    .main__index__videoshort {
        height: 80vh;
        width: 80%;
    }

    #main__servicios {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "title title title title"
            "target target target target"
            "faq faq aside aside"

        ;
        align-items: center;
        justify-content: center;
        padding-top: 13rem;
    }

    #main__portafolio {
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "title aside"
            "contenedorportafolio aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 13rem;
    }

    #main__nosotros {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 2fr 2fr;
        grid-template-areas:
            "title title title title"
            "article article vidlong vidlong2"
            "subtitle subtitle subtitle subtitle"
            "cardGroup cardGroup cardGroup aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 13rem;
    }


    .main__nosotros__videolong,
    .main__nosotros__videolong__2 {
        width: 100%;
        height: 21rem;
    }

    #main__contacto {
        justify-content: center;
        padding-top: 9rem;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
            "title title"
            "formu article"
            "formu faq"
            "formu mapa"
        ;
    }

    .infosecundaria {
        text-align: center;
    }
}