@media screen and (max-width: 576px) {
    main {
        background-size: contain;
    }

    #main__index {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "main__index__sloganswc"
            "fotoportada"
            "vidshort"
            "mapaswc"
            "testimon"
            "aside"
        ;
        align-items: center;
        justify-items: center;
        padding-top: 10.5rem;
    }

    .nav-item {
        justify-content: center;
    }

    .main__index__mapaleaflet {
        height: 100vh;
    }

    .main__index__videoshort {
        height: 100vh;
    }

    #main__servicios {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "target"
            "target"
            "target"
            "target"
            "faq"
            "aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 10.5rem;
    }

    #main__portafolio {
        grid-template-rows: auto;
        grid-template-columns: 350px;
        grid-template-areas:
            "title"
            "contenedorportafolio"
            "aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 10.5rem;
    }

    #main__nosotros {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "article"
            "subtitle"
            "cardGroup"
            "vidlong"
            "vidlong2"
            "aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 10.5rem;
    }

    .main__nosotros__videolong,
    .main__nosotros__videolong__2 {
        width: 100%;
    }


    #main__contacto {
        align-items: center;
        justify-content: center;
        padding-top: 10rem;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "formu"
            "article"
            "mapa"
            "faq";
    }

    #footer {
        grid-template-rows: auto;
        row-gap: 1rem;
        margin: 0 1rem 1rem 0;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "logtit navfoot"
            "rrss rrss"
            "derechos derechos"
        ;

    }
}

@media screen and (min-width: 577px) and (max-width: 768px) and (orientation: portrait) {
    main {
        background-size: contain;
    }

    #main__index {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "main__index__sloganswc"
            "fotoportada"
            "vidshort"
            "mapaswc"
            "testimon"
            "aside"
        ;
        align-items: center;
        justify-items: center;
        padding-top: 9.5rem;
    }

    .main__index__mapaleaflet {
        height: 100vh;
    }

    .main__index__videoshort {
        height: 100vh;
    }

    #main__servicios {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "target target"
            "target target"
            "faq faq"
            "aside aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 9.5rem;
    }

    #main__portafolio {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "contenedorportafolio"
            "aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 9.5rem;
    }

    #main__nosotros {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "article"
            "subtitle"
            "cardGroup"
            "vidlong"
            "vidlong2"
            "aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 9.5rem;
    }

    .main__nosotros__videolong,
    .main__nosotros__videolong__2 {
        width: 100%;
        height: 21rem;
    }

    #main__contacto {
        align-items: center;
        justify-content: center;
        padding-top: 9rem;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title title"
            "formu formu"
            "article article"
            "faq mapa"
        ;
    }

    .mapa {
        grid-area: mapa;
        border-radius: 10px;
        height: 100%;
    }

    #footer {
        grid-template-rows: auto;
        row-gap: 1rem;
        margin: 0 1rem 1rem 0;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "logtit navfoot"
            "rrss rrss"
            "derechos derechos"
        ;

    }

}

@media screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape) {
    main {
        background-size: cover;
    }

    #main__index {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "main__index__sloganswc main__index__sloganswc"
            "vidshort mapaswc"
            "fotoportada testimon"
            "aside aside"
        ;
        align-items: center;
        justify-items: center;
        padding-top: 9.5rem;
    }

    .main__index__mapaleaflet {
        height: 100vh;
    }

    .main__index__videoshort {
        height: 100vh;
    }

    #main__servicios {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "target target"
            "target target"
            "faq faq"
            "aside aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 9.5rem;
    }

    #main__portafolio {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "contenedorportafolio"
            "aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 9.5rem;
    }

    #main__nosotros {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "article vidlong"
            "article vidlong2"
            "subtitle subtitle"
            "cardGroup cardGroup"
            "aside aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 9.5rem;
    }

    .main__nosotros__videolong,
    .main__nosotros__videolong__2 {
        width: 100%;
        height: 21rem;
    }

    #main__contacto {
        align-items: center;
        justify-content: center;
        padding-top: 9rem;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "formu article"
            "faq mapa"
        ;
    }

    .mapa {
        grid-area: mapa;
        border-radius: 10px;
        height: 100%;
    }

    #footer {
        grid-template-rows: auto;
        row-gap: 1rem;
        margin: 0 1rem 1rem 0;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "logtit navfoot"
            "rrss rrss"
            "derechos derechos"
        ;

    }

}

@media screen and (min-width: 993px) and (max-width: 1200px) {

    #main__index {
        grid-template-rows: auto;
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-areas:
            "main__index__sloganswc main__index__sloganswc mapaswc"
            "vidshort fotoportada mapaswc"
            "vidshort testimon mapaswc"
            "aside aside aside"

        ;
        align-items: flex-start;
        justify-items: center;
        padding-top: 9.5rem;
    }

    .main__index__mapaleaflet {
        height: 100vh;
    }

    .main__index__videoshort {
        height: 100vh;
    }

    #main__servicios {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "target target"
            "target target"
            "faq faq"
            "aside aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 9.5rem;
    }

    #main__portafolio {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "contenedorportafolio"
            "aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 9.5rem;
    }

    #main__nosotros {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "article vidlong"
            "article vidlong2"
            "subtitle subtitle"
            "cardGroup cardGroup"
            "aside aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 9.5rem;
    }

    .main__nosotros__videolong,
    .main__nosotros__videolong__2 {
        width: 100%;
        height: 21rem;
    }

    #main__contacto {
        align-items: center;
        justify-content: center;
        padding-top: 9rem;
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "title title"
            "formu article"
            "faq mapa"
        ;
    }

}

@media screen and (min-width: 1600px)
{ 
    .tituloHeader {
        font-size: 3.5rem;
    }
    
    .logoTituloHeader img {
        width: 10.5rem;
    }

    .nav-item .nav-link {
        font-size: 2rem;
    }

    .asideaccion {
        top: 13rem;
    }

    .main__index__slogan {
        align-content: center;

    }

    #main__index {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "main__index__sloganswc mapaswc vidshort"
            "fotoportada mapaswc vidshort"
            "testimon mapaswc aside"
        ;
        justify-items: center;
        align-items: stretch;
        padding-top: 13rem;
    }

    .main__index__mapaleaflet {
        height: 80vh;
    }

    .main__index__videoshort {
        height: 80vh;
        width: 80%;
    }

    #main__servicios {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "title title title title"
            "target target target target"
            "faq faq aside aside"
            
        ;
        align-items: center;
        justify-content: center;
        padding-top: 13rem;
    }

    #main__portafolio {
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "title aside"
            "contenedorportafolio aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 13rem;
    }

    #main__nosotros {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 2fr 2fr;
        grid-template-areas:
            "title title title title"
            "article article vidlong vidlong2"
            "subtitle subtitle subtitle subtitle"
            "cardGroup cardGroup cardGroup aside"
        ;
        align-items: center;
        justify-content: center;
        padding-top: 13rem;
        }


    .main__nosotros__videolong,
    .main__nosotros__videolong__2 {
        width: 100%;
        height: 21rem;
    }

    #main__contacto { 
        justify-content: center;
        padding-top: 9rem;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
            "title title"
            "formu article"
            "formu faq"
            "formu mapa"
            ;
    }

    .infosecundaria{
        text-align: center;
    }
}

    
