/*Reset*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/*Tipografías*/
@font-face {
    font-family: "GoboldRegular";
    src: url(css/fonts/gobold/GoboldRegular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GoodBrush";
    src: url(css/fonts/good_brush/GoodBrush.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(css/fonts/Lato/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/*Tamaño de fuentes*/
h1{
    font-size: 2.5rem; 
}

h2{
    font-size: 2rem; 
}

h3{
    font-size: 1.75rem; 
}

h4{
    font-size: 1.5rem; 
}

h5{
    font-size: 1.25rem; 
}

h6{
    font-size: 1rem; 
}

/*Fuentes escogidas*/
h1 {
    font-family: "GoodBrush";
}

h2, h3, h4, h5, h6 {
    font-family: "GoboldRegular";
}

p {
    font-family: "Lato";
}

/*Enlaces*/
a {
    text-decoration: none;
    color: #FAF3E0;
}

/*Contenido*/
body {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
}

/*Encabezado*/
#header {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(135deg, #8E8D40F2 30%, #6B705CF2 50%, #3D5A80F2 80%);
    width: 100%;
    max-width: 1500px;
    position: fixed;
    z-index: 10
}

.logoTituloHeader {
    display: flex;
    align-items: center;
    font-family: "GoodBrush";
    color: #FAF3E0;
    column-gap: 10px;
}

.logoTituloHeader img {
    width: 7.5em;
}

.tituloHeader {
    flex-wrap: wrap;
}

.nav-item .nav-link {
    font-size: 1.25rem;
    font-family: "GoboldRegular";
    color: #FAF3E0;
}

.nav-item .nav-link:hover{
    color: #3E2723;
    background-color: #FAF3E0;
}

/*Cuerpo*/
main {
    max-width: 100%;
    min-height: 100vh;
    background-image: url(images/bgsl.gif);
    background-attachment: fixed;
	background-position: center;
	background-size: cover;
    padding-top: 8.5rem;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    column-gap: 3%;
}

/*Contenedores*/
#main-index {
    grid-template-rows: auto;
    grid-template-columns: ;
    grid-template-areas:
}

#main-servicios {
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "title title title title"
        "target target target target"
        ". aside aside ."
        ;
}

#main-portafolio {
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-areas:
        "title title aside"
        "target target aside"
        "target target aside"
        ;
}

#main-nosotros {
    align-items: start;
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 
        "title title aside"
        "article vidlong aside"
        "article vidlong2 aside"
        "subtitle subtitle aside"
        "cardGroup cardGroup aside";
    gap: 2rem;
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;    
}

#main-contacto {
    align-items: st;
    grid-template-rows: auto;
    grid-template-columns: 3fr 5fr 3fr;
    grid-template-areas:
        "title title title"
        "article formu mapa"
        "article formu article2"
        ;
}

#form {
    font-family: "GoboldRegular";
    color: #FAF3E0;
    background: #225038e6;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 0.5rem;
}

#form .form-control {
    font-family: "Lato";
    color: gray;
}

/*Elementos*/
.titulo, .subtitulo {
    grid-area: title;
    text-align: center;
    color: #FAF3E0; 
    justify-self: center; 
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 1px 1px black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #A1887FB3;
    padding: 1rem;
    border-radius: 5px;
}

.subtitulo {
    grid-area: subtitle; 
}

.articulo, .articulo2 {
    grid-area: article; 
    color: #FAF3E0;
    background-color: #424242CC ; 
    justify-self: stretch; 
    align-self: start;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-family: "Lato";
}

.articulo2 {
    grid-area: article2; 
}

.card-group {
    grid-area: cardGroup;
    gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    grid-area: target;  
    padding: 1rem;
    margin-top: 0.5rem; 
    max-width: 100%;
    color: #FAF3E0; 
    background-color: #424242D9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card img {
    max-height: 10rem;
    margin-bottom: 0.1rem;
}

.card .btn-primary, .asideaccion .btn-primary, #form .btn-primary  { 
    background-color: #D84315;
    border: none;
    color: #FAF3E0;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    align-self: center;;
}

.card .btn-primary:hover, .asideaccion .btn-primary:hover, #form .btn-primary:hover {
    background-color:#FAF3E0;
    color: #3E2723;
    transform: scale(1.2);
}

.videolong, .videolong-2 {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.videolong-2 {
    grid-area: vidlong2;
}

/*Aside*/

.asideaccion {
    grid-area: aside;
    align-self: start; 
    position: sticky;
    top: 9rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #225038e6; 
    color: #FAF3E0;
    border-radius: 15px;
    text-align: center;
    z-index: 1000;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.asideaccion-icons {
    margin-top: 0.9rem;
}

.asideaccion-icons a {
    margin: 0 8px;
    font-size: 1.5em;
}

/*Pie de página*/
#footer{
    display: grid;
    background: linear-gradient(180deg, #9b837b, #8a736d, #76665b, #5f5754, #3e3c3a);
    width: 100%;
    z-index: 10;
    position: relative;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "logtit navfoot rrss"
        "logtit derechos rrss"
        ;
}

.logoTituloFooter {
    display: flex;
    font-family: "GoodBrush";
    color: #FAF3E0;
    column-gap: 10px;
    align-items: center;
    justify-content: space-around;
    grid-area: logtit;
}

.logoTituloFooter img{
    width: 6rem;
}

.tituloFooter{
    display: flex;
    flex-wrap: wrap;
}

.navBarFooter{
    align-items: center;
    grid-area: navfoot;
}

.derechosFooter {
    justify-content: center;
    text-align: center;
    color: #FAF3E0;
    grid-area: derechos;
}

.rrssFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    grid-area: rrss;
}

.mapa {grid-area: mapa;
}

.mapa iframe {
    border-radius: 15px;
}

#form {grid-area: formu;}

.videoshort {
    grid-area: vidshort;
}
