/*Reset*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/*Tipografías y estilos*/
@font-face {
    font-family: "GoboldRegular";
    src: url(css/fonts/gobold/GoboldRegular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GoodBrush";
    src: url(css/fonts/good_brush/GoodBrush.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(css/fonts/Lato/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 3rem; 
}

h2{
    font-size: 2.5rem; 
}

h3{
    font-size: 2rem; 
}

h4{
    font-size: 1.75rem; 
}

h5{
    font-size: 1.5rem; 
}

h6{
    font-size: 1.25rem; 
}

h1 {
    font-family: "GoodBrush";
}

h2, h3, h4, h5, h6 {
    font-family: "GoboldRegular";
}

/*Carrousel Background*/
@keyframes carouselMain {
    0% { background-image: url(images/bgsl1.JPG); }
    20% { background-image: url(images/bgsl2.jpeg); }
    40% { background-image: url(images/bgsl3.jpeg); }
    60% { background-image: url(images/bgsl4.png); }
    80% { background-image: url(images/bgsl5.png); }
    100% {background-image: url(images/bgsl1.JPG)}
} 

/*Enlaces*/
a {
    text-decoration: none;
    color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
}

/*Encabezado*/
#header {
    display: flex;
    justify-content: space-around;
    background-color: #8E8D40F2;
    width: 100%;
    max-width: 1500px;
    position: fixed;
    z-index: 10;
    
}

.logoTituloHeader {
    display: flex;
    align-items: center;
    font-family: "GoodBrush";
    color: whitesmoke;
    column-gap: 10px;
}

.logoTituloHeader img {
    width: 130px;
}

.nav-item .nav-link {
    font-size: 1.25rem;
    font-family: "GoboldRegular";
    color: whitesmoke;
}

.nav-item .nav-link:hover{
    color: #3E2723;
    background-color: whitesmoke;
}

/*Cuerpo*/
main {
    font-family: "Lato";
    color: black;
    max-width: 100%;
    min-height: 100vh;
    animation: carouselMain 25s ease-in-out infinite;
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 145px;
    padding-left: 10px;
    padding-right: 10px;
}


.tituloMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
}

.tituloMain h3{
    font-family: "GoboldRegular";
    color: whitesmoke;
}

.tituloMain h4 {
    font-family: "GoboldRegular";
}

.tituloMain a{
    background-color: #035578;
    color: whitesmoke;
    font-family: "GoodBrush";
    border: 1px solid #035578 ;
    border-radius: 15px;
    padding: 10px;
}

.tituloMainVideo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.serviciosDestacados {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.serviciosDestacados h4{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-family: "GoboldRegular";
    color: whitesmoke;
}

.tarjetaServiciosDestacados{
    background-color: #782603c4;
    border: 1px solid #782603;
    border-radius: 10px;
    max-width: 20%;
    color: whitesmoke;
    padding: 15px; 
}

.tarjetaServiciosDestacados h5 {
    text-align: center;;
}

.tarjetaServiciosDestacados h6 {
    text-align: center;
    font-style: italic;
    color: black;
}

.serviciosDestacados h4 {
    width: 100%;
}

/*Pie de página*/
#footer{
    display: flex;
    justify-content: space-around;
    background-color: #9b837b;
    width: 100%;
    z-index: 10;
    position: relative;
}

.logoTituloFooter {
    display: flex;
    font-family: "GoodBrush";
    color: whitesmoke;
    column-gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.logoTituloFooter img{
    width: 100px;
}

.derechosNavBarFooter{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.derechosFooter h6{
    font-family: "Lato";
    font-weight: bold;
    font-size: small;
    text-align: center;
    color: whitesmoke;
}

.rrssFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

#main-nosotros {
    display: grid;
    align-items: start;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3%;
    grid-template-areas: 
        "titulonosotros titulonosotros titulonosotros titulonosotros titulonosotros aside"
        "subtitulonosotros subtitulonosotros subtitulonosotros subtitulonosotros subtitulonosotros aside"
        "articulonosotros articulonosotros articulonosotros articulonosotros articulonosotros aside"
        "subtitulosnosotros subtitulosnosotros subtitulosnosotros subtitulosnosotros subtitulosnosotros aside"
        "tarjeta tarjeta tarjeta tarjeta tarjeta aside";
}

.titulo {
    grid-area: titulonosotros; 
    color: #FAF3E0; 
    justify-self: center; 
    align-self: center;
    margin-top: 5px;
    text-shadow: 1px 1px black;
    background-color: #A1887FCC;
    padding: 5px;
}

.subtitulo {
    grid-area: subtitulonosotros; 
    color: #FAF3E0;
    justify-self: center; 
    align-self: center;
    text-shadow: 1px 1px black;
    background-color: #A1887FCC;
    padding: 5px;
}

.subtitulo2 {
    grid-area: subtitulosnosotros; 
    color: #FAF3E0;
    justify-self: center; 
    align-self: center;
    text-shadow: 1px 1px black;
    background-color: #A1887FCC;
    padding: 5px;    
}

.articulo {
    grid-area: articulonosotros; 
    color: #616161;
    background-color: #F5F5F5D9 ; 
    justify-self: center; 
    align-self: center;
    text-align: center;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
    font-family: "Lato";
}

.card-group {
    grid-area: tarjeta;  
    padding: 20px; 
    justify-content: center;
}
.card {
    color: #FAF3E0; 
    background-color: #424242D9; 
    max-width: 50%;
}

.card img {
    max-height: 180px;
    margin-bottom: 10px;
}

.card .btn-primary, .banner-fijo .btn-primary{ 
    background-color: #D84315;
    border: none;
    color: #FAF3E0;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    text-decoration: none;
}

.card .btn-primary:hover, .banner-fijo .btn-primary:hover {
    background-color:#FAF3E0;
    color: #3E2723;
    transform: scale(1.2);
}

.banner-fijo {
    grid-area: aside;
    align-self: start; 
    position: sticky;
    top: 150px;
    width: 100%;
    padding: 15px;
    background-color: #225038e6; 
    color: #FAF3E0;
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
    margin-top: 10px;
}

.banner-icons {
    margin-top: 15px;
}

.banner-icons a {
    margin: 0 8px;
    font-size: 1.5em;
}

.banner-icons a:hover {
    background-color: #FAF3E0;
    color: #3E2723;
}